
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div> &copy; Wanderlust Private Limited</div>
        
        <div class="f-info-links">
          <span class="fake-link">Privacy</span>
          <span class="fake-link">Terms</span>
        </div>
    </div>
</footer>

<style>
    .fake-link {
  color: black;
  text-decoration: underline;
  cursor: default;
}
</style>